<!-- index.html -->
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='test.js') }}"></script>
  </head>
  <body>
    <h1>Life-Log</h1>

    <input id="user" value="ユーザー名を記入"/>
    <button type="button" onclick="fill_profile()">Go</button>

    <br>プロフィール情報
    <table border="1" width="400" id="profile"></table>

    <div id="data_select"></div>

    <br>→なんかグラフが表示される
    <br>fitbit データ
    <table border="1" width="300" id="data"></table>
  </body>
</html>
